
*{
  margin: 0;
  padding: 0;
  /* background: url('background.jpg'); */
}

@font-face
{
font-family: myFancyFont;
src: url('blender_pro_medium.otf'),
url('blender_pro_medium.otf');
}

body {
  font-family: myFancyFont;
}

/* nav style begins here */

.here_lies_the_nav{
  width: 80%;
  height: 90px;
  background-color:#020006;
  position:fixed;
  overflow: hidden;
  transform: translate(-50%, 0);
  left: 50%;
  border-radius: 0 0 5px 5px;
  font-family: myFancyFont;
}
.here_lies_the_nav a {
  float: right;
  color:gray;
  font-size: 80%;
  text-decoration: none;
}
.here_lies_the_nav a:hover{
  color:#fff;
}

.left_nav{
  width:33.33%;
  height:100%;
  float: left;
}
.left_nav a{
  float: left;
}

/* left bar style ends here */

.middle_nav{
  width:33.33%;
  height:100%;
  float:left;
  text-align: center;
}

.my_logo{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#logo_image{
  padding-top: 25%;
  width: 100%;
  height: 100%;
}


#home-anch{
  padding-top: 5%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  color: white;
  text-decoration: none;
}

@keyframes falldown{
  100%{
    transform: rotate(360deg);
  }
}

h1.head_one{
    color: #fff;
    width:100%;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
  }

.right_nav{
  width:33.33%;
  height:100%;
  float:right;
}

/*nav style ends here*/


/* background pokemon video starts here */

.here_lies_background_video{
  background-color: #fff;
  top:0;
  left:0;
}
#back_video{
  height:100%;
  pointer-events: none;
}

/* background pokemon video ends here */


/* pokemon content styling starts here */

#here_lies_pokemon{
    height: 80vh;
    margin: auto;
    margin-top:-5px;
    transition: .5s;
    background-color:dodgerblue;
}

@keyframes fadeBody {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.inner_div{
  width: 100%;
  height:395px;
  margin: auto;
  position: relative;
  text-align: justify;
  animation: fadeBody 2s linear;
}
  .left_poke{
    width: 30%;
    height:100%;
    margin:auto;
    float: left;
    /*background-color: rgba(230,23,0, 0.5); */
  }

#left_image{
    width:80%;
    transition: 0.5s;
    left: 50%;
    opacity:1;
    padding-top: 15%;
    animation: slideInLeft 1s linear;
  }
  @keyframes slideInLeft {
    0%{
      opacity: 0;
      margin-left: -300px;
    }
    100%{
          opacity:1;
          margin-left:-50px;
        }
  }
  #player_name{
    color: #fff;
    font-weight: bold;
    width: 50%;
    font-size: 250% !important;
    margin: 0 auto;
    animation: showMessage .5s linear;
    text-shadow: 2px .2px rgba(255, 255, 255, 0.5);
  }
  @keyframes showMessage{
    0%{
      margin-top: 50px;
      opacity: 0;
    }
    100%{
      margin-top: 0px;
      opacity: 1;
    }
  }

/* middle poke_spec */
#middle_poke{
  width: 40%;
  height:100%;
  margin:auto;
  float: left;
  transition: 0.5s;
  border-radius: 15px;
  animation: hovered 5s linear;
}


  
  /*  styling for pokemon name*/
  #pokemon_name{
    font-style: italic;
    font-weight: bold;
    letter-spacing:2px;
    text-align: center;
    font-size: 350%;
    margin: 20% 0 15% 0;

    text-shadow: 2px 2px #fff;
  }
  /* div for 3d animation */
  .sketchfab{
    width:50% important;
    height: 305px;
    text-align: center;
    align-items: center;
    border: 0px;
  }
  /* 3d animation */
  
  @keyframes rotateGlow {
    0%{
      transform: rotate(0);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }
    50%{
      transform: rotate(180deg);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }
    100%{
      transform: rotate(360deg);
      transform-origin: center;
      animation-timing-function: ease-in-out;
    }
  }


/* Right side poke_spec */
.right_poke{
  width: 30%;
  height:100%;
  margin:auto;
  float: left;
  border-radius: 5px;
  color: white;
  background-color: rgba(0,26,51,1);
}
  .upper_style, .lower_style{
    width: 100%;
    height: 40%;
  }

  #first_attribute{
    width: 100%;
    height: 40%;
  }

  #upper_heading{
    width: 100%;
    height:20%;
    color: #3ac2ff;
  }
    #head_left{
      width:40%;
      float:left;
      text-align: center;
    }
    #head_right{
      width:40%;
      float:right;
      text-align: center;
    }

  #lower_icon{
    width:100%;
    height:20%;
    transition: .5s;
  }
  
  #role_icon{
    width:40%;
    height:25px;
    float:left;
    text-align: center;
    transition: .5s;
  }
  #health_icon{
    width:40%;
    height:25px;
    float:right;
    text-align: center;
    transition: .5s;
  }
  
  #second_attribute{
    width:50%;
    margin: auto;
    text-align: center;
  }
  #attack_attribute{
    color: #3ac2ff;
  }
  #lower_style_heading{
    margin: 0px 0px 5px 20px;
    color: #3ac2ff;
  }
  #head_left, #head_right, #attack_attribute, #lower_style_heading{
    font-size: 120%;
  }
  #health_icon, #role_icon, #attack_icon{
    font-size: 120%;
  }

  @keyframes heartbeat {
    100%{
      font-size:28px;
    }
  }



  #ability_icon{
    width: 60%;
    height: 30%;
    margin: auto;
    text-align: center;
  }

  #ability_one, #ability_two, #ability_three{
    width:30%;
    height: 90%;
    background-color: #020006;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid gray;
    margin-left: 2%;
    transition: .2s;
    float: left;
    transform: scale(1);
  }

  #ability_one:hover, #ability_two:hover, #ability_three:hover{
    transform: scale(0.8);
  }

  #one, #two, #three{
    width:50% !important;
    height:50% !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-top:15px;*/
  }

  #pokemon_ability{
    background: green;
    padding-left: 30%;
  }

   @keyframes scaleAnimation {
    50%{
      transform: scale(0.9);
      transition: 0.5s;
    }
    100%{
      transform: scale(1);
      transition: 0.5s;
    }
  }

  #ability_summary{
    transition: .5s;
    font-size: 80%;
    height:100%;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
  }

  @keyframes comeSlow {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }


.button_on_top{
  /*width: 150px;*/
  width: 16.5vw;
  height:40px;
  z-index: 1;
  background-color: #ffae1a;
  border-radius: 5px;
  outline:none;
  font-family: monospace;
  font-size: 14px;
  position:absolute;
  transform: skewX(-10deg) translate(-50%, -50%);
  left:50%;
  text-align: center;
  margin-top:0px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  transition: .3s;
  animation: fadeBody 2s linear;
}

.button_on_top:hover{
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  transition: .3s;
}
 #next_keyword{
    color: white !important;px;
    text-shadow: 1px 1px rgba(0,0,0,0.6);
  }


.second_div{
  height: 20%;
  margin: auto;
  background-color: #FDFDFD;
  animation: fadeBody 2s linear;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
}

#outbound_screen{
  display: block;
  font-size: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#the_head{
  background: red;
  color: white;
  text-align: center;
}

#big_love_icon, #feedback_icon{
  width:24px;
  height:auto;
  margin:15px;
}

#love_icon{
  width:18px;
  height:auto;
  margin-left:15px;
  margin-right:5px;
}

#user{
  color: rgba(0,0,0,0.7);
}

@media screen and (min-width: 1200px){
  #left_image{
    width:60%;
  }

}

@media screen and (max-width: 414px) and (max-width: 800px){


  #head_left, #head_right, #attack_attribute, #lower_style_heading{
    font-size: 20%;
  }
  #health_icon, #role_icon, #attack_icon{
    font-size: 50%;
  }
  .inner_div{
    height: 150px;
  }

  .button_on_top{
    height: 30px;
  }
  #next_keyword{
    font-size: 80%;
  }

  .here_lies_the_nav{
    height:60px;
  }

  #logo_image{
    height: 70%;
    width: 70%;
  }

  #home-anch{
    font-size: 50%;
  }


  #poke_image{
    width: 50px;
    height: 50px;
  }

  #player_name{
    font-size: 150% !important;
  }
  #pokemon_name{
    font-size: 150%;
  }

  #ability_icon{
    width: 50%;
  }

  #pokemon_ability{
    font-size: 20% !important;
  }

  #ability_summary{
    font-size: 6px;
    /*font-size: 2px;*/
  }
  .one, .two{
    width: 40%;
    height: 35%;
  }
  #big_love_icon, #feedback_icon{
    vertical-align: top;
    width:20%;
    /*height: 80%;*/
  }

  #love_icon{
    margin-top:15%;
    width:10%;
    /*margin-right:5px;*/
  } 

  #like_amount, #user, #user_comment, #hashtagged{
    font-size: 60% !important;
  }

}

